* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #dee3f0;
}

.main-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  color: #fff;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-btn:hover {
  background-color: #3d38cc;
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.main-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(78, 71, 255, 0.3);
}

.main-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(78, 71, 255, 0.2);
}

.main-container {
  margin: 0 auto;
  width: 80%;
}

nav {
  margin: 0 auto 158px;
  width: 80%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-weight: bold;
  font-size: 34px;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}

.nav-section {
  height: 100vh;
  width: 100%;
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62%;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 65px;
  text-align: center;
  margin-bottom: 37px;
}

.action-section {
  width: 80%;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.See-Action-content h2 {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 23px;
}

.See-Action-content p {
  font-size: 20px;
  color: grey;
  line-height: 1.6;
  margin-bottom: 23px;
  opacity: 0.5;
}

.See-Action-Banner {
  overflow: hidden;
  border-radius: 48px;
}

.See-Action-Banner img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.productive-user-section {
  margin: 100px auto 0;
  padding: 50px 80px;
  background-color: #e5e7ff;
  border-radius: 24px;
}

.Joined h4 {
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
}

.productive-user {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 158px;
}

.productive-user h3 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  color: #4e47ff;
}

.productive-user p {
  font-size: 20px;
}

/* Fifth Section */
.get-in-touch-section {
  margin: 100px 0 137px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.contact-content h3 {
  font-size: 80px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.email,
.name,
.Message {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

input,
textarea {
  margin-top: 10px;
  padding: 20px 32px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #c9c5c5;
  font-size: 20px;
  background-color: #ffff;
  color: #252432;
  outline: none;
}

textarea {
  resize: none;
}

.form-btn {
  width: 100%;
  margin-top: 19px;
}

.footer-section {
  margin: 104px auto 200px;
  background-color: #ffff;
}

.footer-content {
  width: 80%;
  max-width: 631px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.footer-content h2 {
  font-size: 130px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #4e47ff;
}

.footer-content p {
  color: #8987a1;
  text-align: center;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.footer-content li a {
  color: #8987a1;
}